@page

@using Microsoft.AspNetCore.Identity
@using WebApplication.Data.Entities


@model WebApplication.Pages.Post.DetailsModel
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<div class="card text-white bg-dark mx-auto" style="width: 32rem;">
    <h4 class="card-header mt-1 mb-1">@Model.Post.Title</h4>
    <img class="card-img-top" src="~/Images/Uploads/@Model.Post.ImageName" alt="Card image cap">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>
                @if (UserManager.GetUserId(User) == Model.Post.UserId.ToString())
                {
                    <span>
                        <a class="text-danger" asp-page="Edit" asp-route-id="@Model.Post.Id">Edit</a> | 
                    </span>  
                }
                @if (UserManager.GetUserId(User) != null && UserManager.GetUserId(User) == Model.Post.UserId.ToString()||UserManager.GetUserId(User) != null &&  Model.Author.Admin)
                {
                    <span>
                        <a class="text-danger" asp-page="Delete" asp-route-id="@Model.Post.Id">Delete</a> | 
                    </span>
                }
                <a class="text-danger" asp-page="Index">Back</a>
            </div>
            <div>
                <a class="card-text text-secondary" asp-page="Profil" asp-route-id="@Model.Post.UserId">By @Model.Post.User</a>
            </div>
        </div>
    </div>
</div>

