@page
@model WebApplication.ProfilModel
@{
    ViewData["Title"] = "Profil";
}

  
    <div class="row">
        <div class="column">
            <div  class="card text-white bg-dark mx-auto" style="width: 24rem;">
                <h4 class="card-header">@Model.Userer.UserName</h4>
                <img class="card-img-top" src="~/Images/defaultboy.jpg" alt="Avatar" style="height:200px;width:200px">

                <p>Full Name: @Model.Userer.Name</p>
                <p>Email: @Model.Userer.Email</p>
                <p>Phone Number: @Model.Userer.PhoneNumber</p>
                <p>Admin Rank: @Model.Userer.Admin</p>
                <textarea class="bg-dark text-white"> @Model.Userer.Profil </textarea>

            </div>
        </div>
    </div>
    <div class="card-columns">
        @foreach (var post in Model.Post)
        {
            if (post.UserId == Model.Userer.Id)
            {
                <div class="card text-white bg-dark">
                    <a class="text-danger" asp-page="Details" asp-route-id="@post.Id">
                        <h5 class="card-header">@post.Title</h5>
                    </a>
                    <img class="card-img-top" src="~/Images/Uploads/@post.ImageName" />
                </div>
            }
        }
    </div>
