@page
@model WebApplication.ProfileModel
@{
    ViewData["Title"] = "Profile";
}

<div class="card text-white bg-dark mx-auto" style="width: 32rem;">
    <h4 class="card-header mt-1 mb-1">@Model.DisplayedUser.Name</h4>
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    @if (Model.DisplayedUser.ProfilePicture != null)
                    {
                        <img class="card-img" src="~/Images/ProfilePictures/@Model.DisplayedUser.ProfilePicture" alt="Avatar">
                    }
                    else
                    {
                        <img class="card-img" src="~/Images/ProfilePictures/default.jpg" alt="Avatar">
                    }
                </div>
                <div class="col-sm">
                    <p>Username: @Model.DisplayedUser.UserName</p>
                    <p>Email: @Model.DisplayedUser.Email</p>
                    <p>@Model.DisplayedUser.Introduction</p>
                </div>
            </div>
        </div>
    </div>
</div>
<h1>Posts</h1>
<hr />
<div class="card-columns">
    @foreach (var post in Model.Post)
    {
        if (post.UserId == Model.DisplayedUser.Id)
        {
            <div class="card text-white bg-dark">
                <a class="text-danger" asp-page="Details" asp-route-id="@post.Id">
                    <h5 class="card-header">@post.Title</h5>
                </a>
                <img class="card-img-top" src="~/Images/Uploads/@post.ImageName" />
            </div>
        }
    }
</div>
